{% extends 'baseseller.html' %} {% block content %}
<div class="container-fluid pt-5">
  <div class="border rounded p-4 m-4">
    <h1 class="display-4 pl-4 ml-4">Add Catalog</h1>
    <hr />
    <form action="{% url 'addcatalog' %}" method="POST" class="ml-5 mr-5" enctype = "multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      <div class="row">
        <div class="form-group col-lg-6">
          <label>Cat name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Cat name"
            name="catname"
          />
        </div>
        <div class="form-group col-lg-6">
          <label>Cat color</label>
          <select class="form-control" name="catcolor">
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="grey">Gray</option>
            <option value="brown">Brown</option>
            
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <label>Cat gender</label>
          <select class="form-control" name="catgender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="form-group col-lg-6">
          <label>Cat size</label>
          <select class="form-control" name="catsize">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <label>Cat ears</label>
          <select class="form-control" name="catears">
            <option value="Pyramid Shaped">Pyramid Shaped</option>
            <option value="Curled">Curled</option>
            <option value="Folded">Folded</option>
            <option value="Floppy">Floppy</option>
            <option value="Loosely Folded">Loosely Folded</option>
            <option value="Triangular">Triangular</option>
          </select>
        </div>
        <div class="form-group col-lg-6">
          <label>Cat image</label>
          <input type="file" class="form-control-file" name="catimage" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <label>Cat price</label>
          <input
            type="text"
            class="form-control"
            placeholder="Price"
            name="catprice"
          />
        </div>
        <div class="form-group col-lg-6">
          <label>Cat breed</label>
          <select class="form-control" name="catbreed">
            <option value="American Bobtail">American Bobtail</option>
            <option value="Bengal">Bengal</option>
            <option value="Chartreux">Chartreux</option>
            <option value="Devon Rex">Devon Rex</option>
            <option value="Munchkin">Munchkin</option>
            <option value="Persian">Persian</option>
            <option value="Others">Others</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-12">
          <label>Description</label>
          <textarea
            class="form-control"
            rows="3"
            name="catdescription"
          ></textarea>
        </div>
        <input
          type="text"
          class="form-control"
          hidden
          value="{{request.session.session_email}}"
          name="catseller"
        />
      </div>
      <div class="row">
        <div class="form-group col-lg-12">
          <button
            type="submit"
            class="btn btn-outline-primary btn-lg btn-block"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
